<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shadowlayover.adminuser.provider.mapper.SysPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shadowlayover.adminuser.api.model.domain.SysPost">
        <id column="id" property="id" />
        <result column="rversion" property="rversion" />
        <result column="post_code" property="postCode" />
        <result column="post_name" property="postName" />
        <result column="dept_id" property="deptId" />
        <result column="order_num" property="orderNum" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rversion,
        id, post_code, post_name, dept_id, order_num, status, remark, is_deleted, created_by, created_time, updated_by, updated_time
    </sql>

</mapper>
