<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shadowlayover.adminuser.provider.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shadowlayover.adminuser.api.model.domain.SysRole">
        <id column="id" property="id" />
        <result column="rversion" property="rversion" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="data_scop" property="dataScop" />
        <result column="order_num" property="orderNum" />
        <result column="is_deleted" property="isDeleted" />
        <result column="remark" property="remark" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rversion,
        id, role_code, role_name, data_scop, order_num, is_deleted, remark, created_by, created_time, updated_by, updated_time
    </sql>

</mapper>
