<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shadowlayover.component.mapper.SysDictItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shadowlayover.component.model.domain.SysDictItem">
        <id column="id" property="id" />
        <result column="trace_id" property="traceId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="creator_id" property="creatorId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater_id" property="updaterId" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="dict_id" property="dictId" />
        <result column="dict_item_code" property="dictItemCode" />
        <result column="dict_item_name" property="dictItemName" />
        <result column="dict_item_value" property="dictItemValue" />
        <result column="dict_item_desc" property="dictItemDesc" />
        <result column="is_default" property="isDefault" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        trace_id,
        is_deleted,
        creator_id,
        creator,
        create_time,
        updater_id,
        updater,
        update_time,
        id, dict_id, dict_item_code, dict_item_name, dict_item_value, dict_item_desc, is_default, status, sort
    </sql>

</mapper>
